About RFC and `add()`

Hello,

1. Does this library support vCard-generation with all the options/details found here: [RFC](https://tools.ietf.org/html/rfc6350) ?

2. Can all the options for the `add` function  be added to the documentation? I see a number of the options here: [link](https://github.com/eventable/vobject/blob/master/vobject/vcard.py), but it would be helpful to be able to reference all the options for `add` via the documentation.

Yes, all of the properties specified in [RFC 6350 Section 6](https://tools.ietf.org/html/rfc6350#section-6) are supported here. 

In general you should be getting the property names/values/types from the spec, not from our documentation - there is too much other information in the spec to make it worthwhile for us to try to get all of it into our docs.